// Imports
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

// Colors

$color-dark: #001d3e;
$color-dark-blue: #00428a;
$color-light-blue: #4381cf;
$color-light: #e6f1f5;
$color-white: #FFFFFF;
$color-text: #333333;
$color-gray: #666666;
$color-light-gray: #bfbfbf;
$color-lighter-gray: #f8f8f8;
$color-black: #000000;
$color-border-table: #bababa;



// Fonts

$font-primary: 'DM Sans', sans-serif;
$font-notosans: 'Noto Sans JP', sans-serif;
$font-notosans-cjk: 'Noto Sans CJK JP', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;




// Breakpoints

// Max width
$breakpoint-sp: 750px;
// Min width
$breakpoint-pc: 751px;
// Min width
$breakpoint-tablet-min: 768px;

$breakpoint-tablet-max: 1024px;
// Min width
$breakpoint-pc-lg: 2550px;

$breakpoint-xs: 480px;


/*
 * ----------- Optional breakpoints for ipad pro (Certain Situation only) -------------
 * @added by: Ralph Nival
 * Notes: Not necessary but in some case, it is useful
*/
$breakpoint-ipad-lg-min: 1024px;
$breakpoint-ipad-lg-max: 1366px;